.icon-container {
    height: 100px;
    width: 100px;
    vertical-align: top;
    font-size: 50px;
    text-align: center; 
    border: 2px solid white;
    border-radius: 4px;
}

.icon {
    display: inline-block;
    opacity: 0;
}

.game {
    max-width: 410px;
    font-size: 0;
    
}

.visible {
    opacity: 100!important;
}

.hidden {
    visibility: hidden;
}

.message {
    
}